<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <max-request-size>418018841</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegAuthentication</servlet-name>
        <servlet-class>RegAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_RegAuthentication</servlet-name>
        <servlet-class>Customer_RegAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_LogAuthentication</servlet-name>
        <servlet-class>Customer_LogAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bid_Update</servlet-name>
        <servlet-class>Bid_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product_Delete</servlet-name>
        <servlet-class>Product_Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegAuthentication</servlet-name>
        <url-pattern>/RegAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_RegAuthentication</servlet-name>
        <url-pattern>/Customer_RegAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_LogAuthentication</servlet-name>
        <url-pattern>/Customer_LogAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bid_Update</servlet-name>
        <url-pattern>/Bid_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product_Delete</servlet-name>
        <url-pattern>/Product_Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
